.box{
    /* background-color: black; */
    
}

/* Sort.css */
#sort-options {
    display: flex;
    justify-content: flex-end; /* Aligns buttons to the right */
    gap: 10px; /* Adds space between buttons */
    margin: 10px 20px 0 0; /* Optional: Add some margin to the top and right */
  }
  
  .linkButton {
    background: none;
    border: none;
    color: #662d91;
    cursor: pointer;
    text-decoration: underline; /* Use hyphenated 'text-decoration' */
  }
  